<div class="container">
  <h2>Tic Tac Toe Game</h2>
  <div class="row">
    <input type="string" #userName/>
    <button (click)="onStartClick(userName.value)" routerLink="/game">Start</button>
  </div>
</div>
