<div>
  <div class="grid" #gameBoard>
    <div class="layout-column">
      <div class="layout-row">
        <div *ngFor="let cell of board[0]" class="grid-button">
            <div class="button-content" (click)="onGridButtonClick(cell)">{{cell.x}}</div>
        </div>
      </div>
      <div *ngFor="let row of board" class="layout-row">
        <div *ngFor="let cell of row" class="grid-cell">
          <div class="cell-content">{{ cell.id }}</div>

        </div>

        <br/> <!-- just to demonstrate a visual effect here! :) -->
      </div>

    </div>
  </div>
</div>
