
.grid {
  border: 1px solid dodgerblue;
  width: 400px;
  height: 500px;
}

.grid-cell {
  border: 1px solid cornflowerblue;
  padding: 5px;
  margin: 0 3px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid-button{
  border: 5px solid blueviolet;
  padding: 5px;
  margin: 0 3px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-content{
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  line-height: 60px;
  width: 100%;
  height: 100%;
}

.cell-content{
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  line-height: 70px;
  width: 100%;
  height: 100%;
}

.layout-row {
  margin: 3px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layout-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
