<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/">Главная</a></li>
      <% if (user) { %>
      <li><a href="/chat">Чат</a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>      <!--TODO: ilya move to css-->
      <li style="cursor: pointer"><div onclick="$(logout())">Logout</div></li>
      <% } else { %>
      <li><a href="/login">Войти</a></li>
      <% } %>
    </ul>
  </div>
  <script>
    function logout() {
      $.ajax({
        url: "/logout",
        method: "POST",
        statusCode: {
          200: function () {
           console.log("Logout success");
            window.location.href = "/";
          },
          403: function (jqXHR) {
            var error = JSON.parse(jqXHR.responseText);
            alert(error.message);
          }
        }
      });
    }
  </script>
</nav>
